# Python for Big Data
### Summary
1. Variables
2. String
3. Function Print
4. Booleanos
5. Loops
6. Funciones
7. Manejo de Excepciones

# 1. Variables

In [1]:
# Variables
resultado

NameError: name 'resultado' is not defined

In [3]:
# Declarando variables
edad_persona = 18
estado = "Si"

In [4]:
edad_persona

18

In [5]:
estado

'Si'

In [ ]:
# Interactuando con el Usuario
monto_interes = int(input("Ingrese el interes: "))

In [6]:
# Operando con una variable
resultado = edad_persona * 10

In [8]:
# Mostrar Variable
resultado

180

In [9]:
# Conocer tipo de variable
type(resultado)

int

In [10]:
type(estado)

str

In [11]:
# Operando variable
25*resultado

4500

In [13]:
# Cambiando tipo de variable
str_resultado = str(resultado)
str_resultado

'180'

In [14]:
int_resultado = int(str_resultado)
int_resultado

180

# 2. String

In [15]:
# Concatenar String
"a" + "b"

'ab'

In [16]:
# Comillas simples o dobles
text_1 = "Mi primer texto"
text_2 = 'Mi segundo texto'

In [18]:
text_1

'Mi primer texto'

In [19]:
text_2

'Mi segundo texto'

In [20]:
# Comillas triple
text_3 = """ 
Select * From Usuarios
Where id=25
Group By año
"""
text_3

' \nSelect * From Usuarios\nWhere id=25\nGroup By año\n'

In [21]:
# Operaciones con String
text_1 = 'Hello World'
text_2 = '5'
text_3 = 'cinco'

In [23]:
text_1.capitalize()

'Hello world'

In [24]:
text_3.upper()

'CINCO'