# Python for Big Data
### Summary
1. Variables
2. String
3. Function Print
4. Booleanos
5. Loops
6. Funciones
7. Manejo de Excepciones

# 1. Variables

In [6]:
# Variables
resultado

NameError: name 'resultado' is not defined

In [ ]:
# Declarando variables
edad_persona = 18
estado = "Si"

In [ ]:
edad_persona

18

In [ ]:
estado

'Si'

In [ ]:
# Interactuando con el Usuario
monto_interes = int(input("Ingrese el interes: "))

In [ ]:
# Operando con una variable
resultado = edad_persona * 10

In [ ]:
# Mostrar Variable
resultado

180

In [ ]:
# Conocer tipo de variable
type(resultado)

int

In [ ]:
type(estado)

str

In [ ]:
# Operando variable
25*resultado

4500

In [ ]:
# Cambiando tipo de variable
str_resultado = str(resultado)
str_resultado

'180'

In [ ]:
int_resultado = int(str_resultado)
int_resultado

180

# 2. String

In [ ]:
# Concatenar String
"a" + "b"

'ab'

In [ ]:
# Comillas simples o dobles
text_1 = "Mi primer texto"
text_2 = 'Mi segundo texto'

In [ ]:
text_1

'Mi primer texto'

In [ ]:
text_2

'Mi segundo texto'

In [ ]:
# Comillas triple
text_3 = """ 
Select * From Usuarios
Where id=25
Group By año
"""
text_3

' \nSelect * From Usuarios\nWhere id=25\nGroup By año\n'

In [ ]:
# Operaciones con String
text_1 = 'Hello World'
text_2 = '5'
text_3 = 'cinco'

In [ ]:
text_1.capitalize()

'Hello world'

In [ ]:
text_3.upper()

'CINCO'

In [ ]:
text_3.lower()

'cinco'

In [ ]:
text_1.lower()

'hello world'

In [ ]:
text_1.title()

'Hello World'

In [7]:
text_1.count('l')

NameError: name 'text_1' is not defined

In [ ]:
# longitud cadena
len(text_1)

11

In [ ]:
# Dividir texto
text_1.split()

['Hello', 'World']

In [ ]:
text_1.split('W')

NameError: name 'text_1' is not defined

In [8]:
# Limpiando extremo string
text_4 = '(hello wordl), '
text_4.strip()

'(hello wordl),'

In [ ]:
text_4.strip('(), ')

'hello wordl'

In [10]:
# Reemplazando String
text_5= 'Hello Wordl'
text_5.replace('Hello', 'Hi')

'Hi Wordl'

In [11]:
#Encontrar posicion String
text_5.index('o')

4

In [12]:
text_5.index('o', 6)

7

In [13]:
# Parte un string
text_5[0]

'H'

In [14]:
text_5[-2]

'd'

In [15]:
text_5[4:-1]

'o Word'

In [17]:
# Invertir string
text_5[::-1]

'ldroW olleH'

In [18]:
text_5[4::-1]

'olleH'

In [21]:
# Llamada a una cadena
text_4.strip('(), ').upper().split()

['HELLO', 'WORDL']

In [22]:
# python f-string
nombre = 'Jaime'
curso = 'Topicos Especiales BI'
f'Hola {nombre}, este es el curso {curso}'

'Hola Jaime, este es el curso Topicos Especiales BI'

In [24]:
# Otras operacion string
string_1 = 'hello wordl'
string_2 = '5'
string_3 = 'cinco'

In [25]:
string_1.isdigit()

False

In [26]:
string_2.isdigit()

True

In [27]:
string_1.isalpha()

False

In [28]:
string_3.isalpha()

True

In [29]:
import string
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [30]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [31]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [32]:
string_1.isalnum()

False

In [33]:
string_2.isalnum()

True

# 3. Funcion Print

In [34]:
print(string_3)

cinco

In [35]:
# saber tipo dato
print(type(string_3))

<class 'str'>

In [36]:
print(type(7))

<class 'int'>

In [37]:
print("Mi nombre es:", nombre)
print(f'Mi nombre es: {nombre}')

Mi nombre es: Jaime
Mi nombre es: Jaime

In [39]:
print("Los datos de curso son: \nNombre \t\t: Topicos Especiales BI\nCiclo \t\t: Sexto\nTipo curso \t: Electivo")

Los datos de curso son:
Nombre 		: Topicos Especiales BI
Ciclo 		: Sexto
Tipo curso 	: Electivo

In [40]:
print(r"Los datos de curso son: \nNombre \t\t: Topicos Especiales BI\nCiclo \t\t: Sexto\nTipo curso \t: Electivo")

Los datos de curso son: \nNombre \t\t: Topicos Especiales BI\nCiclo \t\t: Sexto\nTipo curso \t: Electivo

# 4. Booleanos y condicionales

In [45]:
final_page = False
print(type(final_page))

<class 'bool'>

In [46]:
if final_page:
    print('Final Pagina')
else:
    print('Todavia no es el final de la pagina')

Todavia no es el final de la pagina

In [47]:
print(bool())

False

In [60]:
print(f"Booleno para '': {bool('')}")
print(f"Booleno para ': {bool(' ')}")
print(f"Booleno para []: {bool([])}")
print(f"Booleno para {'{ }'}: {bool({ })}")
print(f"Booleno para 0: {bool(0)}")
print(f"Booleno para 1: {bool(1)}")
print(f"Booleno para 'Hola': {bool('Hola')}")
print(f"Booleno para ['Hola']: {bool(['Hola'])}")

Booleno para '': False
Booleno para ': True
Booleno para []: False
Booleno para { }: False
Booleno para 0: False
Booleno para 1: True
Booleno para 'Hola': True
Booleno para ['Hola']: True

In [61]:
# operadores logicos
not True

False

In [62]:
not False

True

In [63]:
True and True

True

In [64]:
True and False

False

In [65]:
# comparando
1 < 'uno'

TypeError: '<' not supported between instances of 'int' and 'str'

# 5. Loops

In [66]:
# for loops
for letra in 'Hola':
    print(letra)

H
o
l
a

In [ ]:
my_string = 'Hola a todos'
palabras =  my_string.split()
print(f'Palabras: {palabras}')

Palabras: ['Hola', 'a', 'todos']

In [70]:
for palabra in palabras:
    print(palabra)

Hola
a
todos

In [ ]:
# Enumerar en for loop

In [71]:
for idx, palabra in enumerate(palabras):
    print(idx, palabra)

0 Hola
1 a
2 todos

In [74]:
for idx, palabra in enumerate(palabras, 1):
    print(idx, palabra)

1 Hola
2 a
3 todos

In [76]:
# While loop
max_intentos=5
intento =1
while intento <= max_intentos:
    print(f'Este es el intento numero {intento}')
    intento+=1

Este es el intento numero 1
Este es el intento numero 2
Este es el intento numero 3
Este es el intento numero 4
Este es el intento numero 5